click==8.0.3
Flask==2.0.2
Flask-Cors==3.0.10
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
six==1.16.0
Werkzeug==2.0.2
gym==0.21.0
tb-nightly~=2.8.0a20211108
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
torchvision==0.11.1
typing-extensions==4.0.1
pip~=20.2.3
setuptools~=49.2.1
pymongo[tls,srv]~=3.12.1
numpy~=1.19.5
https://download.pytorch.org/whl/cpu/torch-1.10.0%2Bcpu-cp39-cp39-linux_x86_64.whl
https://files.pythonhosted.org/packages/60/5c/f9eb307c9b14ec1b5ff96150d0caa268df52f74cf032f67ca13bb7c6964b/catboost-1.0.6-cp39-none-manylinux1_x86_64.whl